# sbt folders
/target/
lib_managed/
src_managed/
project/boot/
project/project
project/target/
.history
.cache

# Ignore generate files
/output

# Eclipse
.settings
.worksheet
.cache
.classpath
.project
bin

# Idea
.idea
